/* ============================================================================
LAYOUT STYLES
============================================================================ */
.pages {
    position: relative;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    opacity: 0;
    filter: blur(6px);
    pointer-events: none;

    transition:
        opacity .45s cubic-bezier(.22,.9,.32,1),
        filter .45s ease;
}

.page.active {
    opacity: 1;
    filter: blur(0);
    pointer-events: auto;
}

.logo img {
    width: 1.2em;
}

.bottom {
    position: fixed;
    bottom: 18px;
    left: 18px;
    opacity: .5;
}

.bottom a {
    color: #cbd2ff;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    padding-bottom: 3px;
    transition: color .25s ease, opacity .25s ease;
}

.bottom a:hover {
    opacity: 1;
    color: #ffffff;
}
